openapi: 3.0.1
info:
  title: PrintNode Account API Keys API
  description: Specification of the PrintNode cloud and remote printing API. PrintNode lets web and server applications print to physical printers through the PrintNode Client running on a remote computer. All requests use HTTP Basic authentication with the API key supplied as the username and an empty password.
  termsOfService: https://www.printnode.com/en/terms
  contact:
    name: PrintNode Support
    url: https://www.printnode.com/en/contact
  version: '1.0'
servers:
- url: https://api.printnode.com
security:
- apiKeyBasicAuth: []
tags:
- name: API Keys
paths:
  /account/apikey/{description}:
    get:
      operationId: getApiKey
      tags:
      - API Keys
      summary: View an API key by its description (Integrator accounts only).
      parameters:
      - $ref: '#/components/parameters/ApiKeyDescription'
      responses:
        '200':
          description: OK
    post:
      operationId: createApiKey
      tags:
      - API Keys
      summary: Create an API key with the given description.
      parameters:
      - $ref: '#/components/parameters/ApiKeyDescription'
      responses:
        '200':
          description: OK
    delete:
      operationId: deleteApiKey
      tags:
      - API Keys
      summary: Delete the API key with the given description.
      parameters:
      - $ref: '#/components/parameters/ApiKeyDescription'
      responses:
        '200':
          description: OK
components:
  parameters:
    ApiKeyDescription:
      name: description
      in: path
      description: The description identifying the API key.
      required: true
      schema:
        type: string
  securitySchemes:
    apiKeyBasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply the PrintNode API key as the username and leave the password empty. Integrator accounts may additionally authenticate on behalf of a child account using the X-Child-Account-By-Id, X-Child-Account-By-Email, or X-Child-Account-By-CreatorRef header.
